body
{
    font-size: 16px;
    font-family: "Times New Roman";
    text-align: center;
    color: deeppink;
}
#container
{
    width : 70%; 
    padding: 1em;
    text-align: center;
    border: 1px solid #DD5;
    margin: 0 auto;
}

#container h1 
{
    font-size: 20px;
}