body
{
    font-size: 16px;
    font-family: "Arial";
    text-align: center;
    color: deeppink;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1.5px solid #DD5;
    margin: 10 auto;
}

#container h1 
{
    font-size: 20px;
}

#cabecera
{
    font-size: 15px;
    text-align: center;
    background-color: red;
    color: cyan;
    padding: 0;
    margin: 0;
    width: 100%;
}